@import './normalize.scss';
@import './sassConfig.scss';
body {
background:#001529
  }
  .inline-button{
    button + button{
      margin-left: 10px;
    }
  }
  .pull-right{
    float: right;
  }
  .tex-c{
    text-align: center;
  }
  .color-red{
    color:red
  }
@for $i from 1 through 100 {
  .mt#{$i} { margin-top:1px*$i; }
}
@for $i from 1 through 100 {
  .ml#{$i} { margin-left:1px*$i; }
}
@for $i from 1 through 100 {
  .mr#{$i} { margin-left:1px*$i; }
}
@for $i from 1 through 100 {
  .mb#{$i} { margin-left:1px*$i; }
}

 