@import './normalize.scss';
@import './sassConfig.scss';
body {
background:#001529
  }
  .inline-button{
    button + button{
      margin-left: 10px;
    }
  }
  .tex-c{
    text-align: center;
  }
  .color-red{
    color:red
  }
  
  