@import './normalize.scss';
@import './sassConfig.scss';
body {
background:#001529
  }
  .inline-button{
    button + button{
      margin-left: 10px;
    }
  }
  .pull-right{
    float: right;
  }
  .tex-c{
    text-align: center;
  }
  .color-red{
    color:red
  }
@for $i from 1 through 100 {
  .mt#{$i} { margin-top:1px*$i; }
}
@for $i from 1 through 100 {
  .ml#{$i} { margin-left:1px*$i; }
}
@for $i from 1 through 100 {
  .mr#{$i} { margin-right:1px*$i; }
}
@for $i from 1 through 100 {
  .mb#{$i} { margin-bottom:1px*$i; }
}
.ant-form-inline .ant-form-item{
  margin-bottom: 24px;
}
.ant-form-inline .ant-form-item-with-help{
  margin-bottom: 0;
}

.form-column{
  padding-top: 15px;
  border-top:1px solid #e5e5e5;
  font-size: 16px;
  margin-bottom: 20px;
  color:#344a5f;
}
.form-item-inline-control{
  .ant-form-item{
    display: block;
  }
  .ant-form-item-label{
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
}